.vscode
.vscode-test
test
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
*.vsix
web
!web/dist/**
web/dist/**/*.map
web/dist/_nuxt/app.js
src
.images
!.images/icon.png
!.images/icon_dark.png
!.images/icon_light.png
node_modules
webpack.config.js
webpack.config.dev.js
data/*
.build
*.env
.github
scripts
