.vscode
.vscode-test
test
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
*.vsix
views/query-editor
!views/query-editor/dist/**
views/query-editor/dist/**/*.map
views/query-editor/dist/_nuxt/app.js
views/notifications
!views/notifications/dist/**
src
.images
!.images/icon.png
!.images/database_dark.svg
!.images/database_light.svg
!.images/info_dark.svg
!.images/info_light.svg
node_modules
webpack.config.js
webpack.config.dev.js
data/*
.build
*.env
.github
scripts
