.vscode
.vscode-test
test
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
*.vsix
views/**
!views/query-editor/dist/**
!views/notifications/dist/**
src
.images
!.images/icon.png
!.images/database_dark.svg
!.images/database_light.svg
!.images/info_dark.svg
!.images/info_light.svg
node_modules
webpack.config.js
webpack.config.dev.js
data/*
.build
*.env
.github
scripts
test/**
!test/query-editor-spec.ts