html{
    --vscode-activityBar-activeBorder: #8f93a2;
    --vscode-activityBar-background: #090b10;
    --vscode-activityBar-border: rgba(0, 0, 0, 0.38);
    --vscode-activityBar-dropBorder: #8f93a2;
    --vscode-activityBar-foreground: #8f93a2;
    --vscode-activityBar-inactiveForeground: rgba(143, 147, 162, 0.4);
    --vscode-activityBarBadge-background: #80cbc4;
    --vscode-activityBarBadge-foreground: #000000;
    --vscode-badge-background: rgba(0, 0, 0, 0.19);
    --vscode-badge-foreground: #464b5d;
    --vscode-breadcrumb-activeSelectionForeground: #80cbc4;
    --vscode-breadcrumb-background: #0f111a;
    --vscode-breadcrumb-focusForeground: #8f93a2;
    --vscode-breadcrumb-foreground: #4b526d;
    --vscode-breadcrumbPicker-background: #090b10;
    --vscode-button-background: rgba(113, 124, 180, 0.31);
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: rgba(152, 160, 200, 0.31);
    --vscode-button-secondaryBackground: #3a3d41;
    --vscode-button-secondaryForeground: #ffffff;
    --vscode-button-secondaryHoverBackground: #45494e;
    --vscode-charts-blue: rgba(130, 170, 255, 0.44);
    --vscode-charts-foreground: #cccccc;
    --vscode-charts-green: #89d185;
    --vscode-charts-lines: rgba(204, 204, 204, 0.5);
    --vscode-charts-orange: #d18616;
    --vscode-charts-purple: #b180d7;
    --vscode-charts-red: rgba(255, 83, 112, 0.44);
    --vscode-charts-yellow: rgba(255, 203, 107, 0.44);
    --vscode-checkbox-background: #0f111a;
    --vscode-checkbox-border: rgba(255, 255, 255, 0.06);
    --vscode-checkbox-foreground: #f0f0f0;
    --vscode-dart-closingLabels: #4b526d;
    --vscode-debugConsole-errorForeground: #f48771;
    --vscode-debugConsole-infoForeground: rgba(130, 170, 255, 0.44);
    --vscode-debugConsole-sourceForeground: #cccccc;
    --vscode-debugConsole-warningForeground: rgba(255, 203, 107, 0.44);
    --vscode-debugConsoleInputIcon-foreground: #cccccc;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugTokenExpression-boolean: #4e94ce;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugTokenExpression-name: #c586c0;
    --vscode-debugTokenExpression-number: #b5cea8;
    --vscode-debugTokenExpression-string: #ce9178;
    --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
    --vscode-debugToolBar-background: #0f111a;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-exceptionLabelForeground: #cccccc;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-stateLabelForeground: #cccccc;
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
    --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
    --vscode-diffEditor-insertedTextBackground: rgba(195, 232, 141, 0.08);
    --vscode-diffEditor-removedTextBackground: rgba(255, 83, 112, 0.13);
    --vscode-dropdown-background: #0f111a;
    --vscode-dropdown-border: rgba(255, 255, 255, 0.06);
    --vscode-dropdown-foreground: #f0f0f0;
    --vscode-editor-background: #0f111a;
    --vscode-editor-findMatchBackground: #000000;
    --vscode-editor-findMatchBorder: #80cbc4;
    --vscode-editor-findMatchHighlightBackground: rgba(0, 0, 0, 0.31);
    --vscode-editor-findMatchHighlightBorder: rgba(255, 255, 255, 0.31);
    --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
    --vscode-editor-foldBackground: rgba(113, 124, 180, 0.09);
    --vscode-editor-font-family: Consolas, Courier New, monospace;
    --vscode-editor-font-size: 14px;
    --vscode-editor-font-weight: normal;
    --vscode-editor-foreground: #8f93a2;
    --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
    --vscode-editor-inactiveSelectionBackground: rgba(113, 124, 180, 0.16);
    --vscode-editor-lineHighlightBackground: rgba(0, 0, 0, 0.31);
    --vscode-editor-lineHighlightBorder: #282828;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-editor-selectionBackground: rgba(113, 124, 180, 0.31);
    --vscode-editor-selectionHighlightBackground: rgba(255, 204, 0, 0.13);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
    --vscode-editor-symbolHighlightBackground: rgba(0, 0, 0, 0.31);
    --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
    --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
    --vscode-editorActiveLineNumber-foreground: #c6c6c6;
    --vscode-editorBracketMatch-background: #0f111a;
    --vscode-editorBracketMatch-border: rgba(255, 204, 0, 0.31);
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorCursor-foreground: #ffcc00;
    --vscode-editorError-foreground: rgba(255, 83, 112, 0.44);
    --vscode-editorGroup-border: rgba(0, 0, 0, 0.19);
    --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-editorGroupHeader-noTabsBackground: #0f111a;
    --vscode-editorGroupHeader-tabsBackground: #0f111a;
    --vscode-editorGutter-addedBackground: rgba(195, 232, 141, 0.38);
    --vscode-editorGutter-background: #0f111a;
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-editorGutter-deletedBackground: rgba(255, 83, 112, 0.38);
    --vscode-editorGutter-foldingControlForeground: #c5c5c5;
    --vscode-editorGutter-modifiedBackground: rgba(130, 170, 255, 0.38);
    --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
    --vscode-editorHoverWidget-background: #0f111a;
    --vscode-editorHoverWidget-border: rgba(255, 255, 255, 0.06);
    --vscode-editorHoverWidget-foreground: #cccccc;
    --vscode-editorHoverWidget-statusBarBackground: #12141f;
    --vscode-editorIndentGuide-activeBackground: #3b3f51;
    --vscode-editorIndentGuide-background: rgba(59, 63, 81, 0.44);
    --vscode-editorInfo-foreground: rgba(130, 170, 255, 0.44);
    --vscode-editorInlineHint-background: #cccccc;
    --vscode-editorInlineHint-foreground: #090b10;
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-editorLineNumber-activeForeground: #4b526d;
    --vscode-editorLineNumber-foreground: rgba(59, 63, 81, 0.5);
    --vscode-editorLink-activeForeground: #8f93a2;
    --vscode-editorMarkerNavigation-background: rgba(143, 147, 162, 0.02);
    --vscode-editorMarkerNavigationError-background: rgba(255, 83, 112, 0.44);
    --vscode-editorMarkerNavigationInfo-background: rgba(130, 170, 255, 0.44);
    --vscode-editorMarkerNavigationWarning-background: rgba(255, 203, 107, 0.44);
    --vscode-editorOverviewRuler-addedForeground: rgba(195, 232, 141, 0.23);
    --vscode-editorOverviewRuler-border: #0f111a;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --vscode-editorOverviewRuler-deletedForeground: rgba(255, 83, 112, 0.23);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 83, 112, 0.25);
    --vscode-editorOverviewRuler-findMatchForeground: #80cbc4;
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --vscode-editorOverviewRuler-infoForeground: rgba(130, 170, 255, 0.25);
    --vscode-editorOverviewRuler-modifiedForeground: rgba(130, 170, 255, 0.23);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-warningForeground: rgba(255, 203, 107, 0.25);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorPane-background: #0f111a;
    --vscode-editorRuler-foreground: #3b3f51;
    --vscode-editorSuggestWidget-background: #0f111a;
    --vscode-editorSuggestWidget-border: rgba(255, 255, 255, 0.06);
    --vscode-editorSuggestWidget-foreground: #8f93a2;
    --vscode-editorSuggestWidget-highlightForeground: #80cbc4;
    --vscode-editorSuggestWidget-selectedBackground: rgba(0, 0, 0, 0.31);
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
    --vscode-editorWarning-foreground: rgba(255, 203, 107, 0.44);
    --vscode-editorWhitespace-foreground: rgba(143, 147, 162, 0.25);
    --vscode-editorWidget-background: #090b10;
    --vscode-editorWidget-border: #ff0000;
    --vscode-editorWidget-foreground: #cccccc;
    --vscode-editorWidget-resizeBorder: #80cbc4;
    --vscode-errorForeground: #f48771;
    --vscode-extensionBadge-remoteBackground: #80cbc4;
    --vscode-extensionBadge-remoteForeground: #000000;
    --vscode-extensionButton-prominentBackground: rgba(195, 232, 141, 0.56);
    --vscode-extensionButton-prominentForeground: #ffffff;
    --vscode-extensionButton-prominentHoverBackground: #c3e88d;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-focusBorder: rgba(255, 255, 255, 0);
    --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --vscode-font-size: 13px;
    --vscode-font-weight: normal;
    --vscode-foreground: #cccccc;
    --vscode-gitDecoration-addedResourceForeground: #81b88b;
    --vscode-gitDecoration-conflictingResourceForeground: rgba(255, 203, 107, 0.56);
    --vscode-gitDecoration-deletedResourceForeground: rgba(255, 83, 112, 0.56);
    --vscode-gitDecoration-ignoredResourceForeground: rgba(75, 82, 109, 0.56);
    --vscode-gitDecoration-modifiedResourceForeground: rgba(130, 170, 255, 0.56);
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
    --vscode-gitDecoration-untrackedResourceForeground: rgba(195, 232, 141, 0.56);
    --vscode-icon-foreground: #c5c5c5;
    --vscode-imagePreview-border: rgba(128, 128, 128, 0.35);
    --vscode-input-background: #1a1c25;
    --vscode-input-border: rgba(255, 255, 255, 0.06);
    --vscode-input-foreground: #eeffff;
    --vscode-input-placeholderForeground: rgba(143, 147, 162, 0.38);
    --vscode-inputOption-activeBackground: rgba(143, 147, 162, 0.19);
    --vscode-inputOption-activeBorder: rgba(143, 147, 162, 0.19);
    --vscode-inputOption-activeForeground: #ffffff;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: rgba(255, 83, 112, 0.31);
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: rgba(130, 170, 255, 0.31);
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: rgba(255, 203, 107, 0.31);
    --vscode-list-activeSelectionBackground: #090b10;
    --vscode-list-activeSelectionForeground: #80cbc4;
    --vscode-list-deemphasizedForeground: #8c8c8c;
    --vscode-list-dropBackground: #062f4a;
    --vscode-list-errorForeground: #f88070;
    --vscode-list-filterMatchBackground: rgba(0, 0, 0, 0.31);
    --vscode-list-filterMatchBorder: rgba(255, 255, 255, 0.31);
    --vscode-list-focusBackground: rgba(143, 147, 162, 0.13);
    --vscode-list-focusForeground: #8f93a2;
    --vscode-list-focusOutline: rgba(255, 255, 255, 0);
    --vscode-list-highlightForeground: #80cbc4;
    --vscode-list-hoverBackground: #090b10;
    --vscode-list-hoverForeground: #ffffff;
    --vscode-list-inactiveSelectionBackground: rgba(0, 0, 0, 0.19);
    --vscode-list-inactiveSelectionForeground: #80cbc4;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-warningForeground: #cca700;
    --vscode-listFilterWidget-background: rgba(0, 0, 0, 0.19);
    --vscode-listFilterWidget-noMatchesOutline: rgba(0, 0, 0, 0.19);
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0.19);
    --vscode-menu-background: #0f111a;
    --vscode-menu-foreground: #8f93a2;
    --vscode-menu-selectionBackground: rgba(0, 0, 0, 0.31);
    --vscode-menu-selectionBorder: rgba(0, 0, 0, 0.19);
    --vscode-menu-selectionForeground: #80cbc4;
    --vscode-menu-separatorBackground: #8f93a2;
    --vscode-menubar-selectionBackground: rgba(0, 0, 0, 0.19);
    --vscode-menubar-selectionBorder: rgba(0, 0, 0, 0.19);
    --vscode-menubar-selectionForeground: #80cbc4;
    --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --vscode-minimap-findMatchHighlight: #d18616;
    --vscode-minimap-selectionHighlight: #264f78;
    --vscode-minimap-warningHighlight: rgba(255, 203, 107, 0.44);
    --vscode-minimapGutter-addedBackground: #587c0c;
    --vscode-minimapGutter-deletedBackground: #94151b;
    --vscode-minimapGutter-modifiedBackground: #0c7d9d;
    --vscode-minimapSlider-activeBackground: rgba(128, 203, 196, 0.5);
    --vscode-minimapSlider-background: rgba(143, 147, 162, 0.06);
    --vscode-minimapSlider-hoverBackground: rgba(143, 147, 162, 0.03);
    --vscode-notebook-cellBorderColor: rgba(0, 0, 0, 0.19);
    --vscode-notebook-cellInsertionIndicator: rgba(255, 255, 255, 0);
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-focusedCellBorder: rgba(255, 255, 255, 0);
    --vscode-notebook-focusedEditorBorder: rgba(255, 255, 255, 0);
    --vscode-notebook-focusedRowBorder: rgba(255, 255, 255, 0.12);
    --vscode-notebook-inactiveFocusedCellBorder: rgba(0, 0, 0, 0.19);
    --vscode-notebook-outputContainerBackgroundColor: rgba(0, 0, 0, 0.19);
    --vscode-notebook-rowHoverBackground: rgba(128, 128, 128, 0.07);
    --vscode-notebook-selectedCellBackground: rgba(56, 59, 61, 0.5);
    --vscode-notebook-selectedCellBorder: rgba(0, 0, 0, 0.19);
    --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
    --vscode-notebookScrollbarSlider-activeBackground: #80cbc4;
    --vscode-notebookScrollbarSlider-background: rgba(143, 147, 162, 0.13);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(143, 147, 162, 0.06);
    --vscode-notebookStatusErrorIcon-foreground: #f48771;
    --vscode-notebookStatusRunningIcon-foreground: #cccccc;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notificationCenterHeader-background: #131622;
    --vscode-notificationLink-foreground: #80cbc4;
    --vscode-notifications-background: #0f111a;
    --vscode-notifications-border: #131622;
    --vscode-notifications-foreground: #8f93a2;
    --vscode-notificationsErrorIcon-foreground: rgba(255, 83, 112, 0.44);
    --vscode-notificationsInfoIcon-foreground: rgba(130, 170, 255, 0.44);
    --vscode-notificationsWarningIcon-foreground: rgba(255, 203, 107, 0.44);
    --vscode-panel-background: #090b10;
    --vscode-panel-border: rgba(0, 0, 0, 0.38);
    --vscode-panel-dropBorder: #ffffff;
    --vscode-panelSection-border: rgba(0, 0, 0, 0.38);
    --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelTitle-activeBorder: #80cbc4;
    --vscode-panelTitle-activeForeground: #ffffff;
    --vscode-panelTitle-inactiveForeground: #8f93a2;
    --vscode-peekView-border: rgba(0, 0, 0, 0.19);
    --vscode-peekViewEditor-background: rgba(143, 147, 162, 0.02);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(113, 124, 180, 0.31);
    --vscode-peekViewEditorGutter-background: rgba(143, 147, 162, 0.02);
    --vscode-peekViewResult-background: rgba(143, 147, 162, 0.02);
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-lineForeground: #bbbbbb;
    --vscode-peekViewResult-matchHighlightBackground: rgba(113, 124, 180, 0.31);
    --vscode-peekViewResult-selectionBackground: rgba(75, 82, 109, 0.44);
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewTitle-background: rgba(143, 147, 162, 0.02);
    --vscode-peekViewTitleDescription-foreground: rgba(143, 147, 162, 0.38);
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-pickerGroup-border: #3f3f46;
    --vscode-pickerGroup-foreground: #80cbc4;
    --vscode-problemsErrorIcon-foreground: rgba(255, 83, 112, 0.44);
    --vscode-problemsInfoIcon-foreground: rgba(130, 170, 255, 0.44);
    --vscode-problemsWarningIcon-foreground: rgba(255, 203, 107, 0.44);
    --vscode-progressBar-background: #80cbc4;
    --vscode-quickInput-background: #090b10;
    --vscode-quickInput-foreground: #cccccc;
    --vscode-quickInputList-focusBackground: rgba(143, 147, 162, 0.13);
    --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
    --vscode-sash-hoverBorder: rgba(255, 255, 255, 0);
    --vscode-scm-providerBorder: #454545;
    --vscode-scrollbar-shadow: rgba(15, 17, 26, 0);
    --vscode-scrollbarSlider-activeBackground: #80cbc4;
    --vscode-scrollbarSlider-background: rgba(143, 147, 162, 0.13);
    --vscode-scrollbarSlider-hoverBackground: rgba(143, 147, 162, 0.06);
    --vscode-searchEditor-findMatchBackground: rgba(0, 0, 0, 0.21);
    --vscode-searchEditor-findMatchBorder: rgba(255, 255, 255, 0.21);
    --vscode-searchEditor-textInputBorder: rgba(255, 255, 255, 0.06);
    --vscode-selection-background: #80cbc4;
    --vscode-settings-checkboxBackground: #090b10;
    --vscode-settings-checkboxBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-checkboxForeground: #8f93a2;
    --vscode-settings-dropdownBackground: #090b10;
    --vscode-settings-dropdownBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-dropdownForeground: #8f93a2;
    --vscode-settings-dropdownListBorder: #ff0000;
    --vscode-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
    --vscode-settings-headerForeground: #80cbc4;
    --vscode-settings-modifiedItemIndicator: #80cbc4;
    --vscode-settings-numberInputBackground: #090b10;
    --vscode-settings-numberInputBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-numberInputForeground: #8f93a2;
    --vscode-settings-textInputBackground: #090b10;
    --vscode-settings-textInputBorder: rgba(255, 255, 255, 0.06);
    --vscode-settings-textInputForeground: #8f93a2;
    --vscode-sideBar-background: #090b10;
    --vscode-sideBar-border: rgba(0, 0, 0, 0.38);
    --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
    --vscode-sideBar-foreground: #4b526d;
    --vscode-sideBarSectionHeader-background: #090b10;
    --vscode-sideBarSectionHeader-border: rgba(0, 0, 0, 0.38);
    --vscode-sideBarSectionHeader-foreground: #4b526d;
    --vscode-sideBarTitle-foreground: #8f93a2;
    --vscode-statusBar-background: #090b10;
    --vscode-statusBar-border: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-debuggingBackground: #c792ea;
    --vscode-statusBar-debuggingBorder: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-debuggingForeground: #ffffff;
    --vscode-statusBar-foreground: #4b526d;
    --vscode-statusBar-noFolderBackground: #0f111a;
    --vscode-statusBar-noFolderBorder: rgba(0, 0, 0, 0.38);
    --vscode-statusBar-noFolderForeground: #4b526d;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-errorBackground: #c72e0f;
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-hoverBackground: rgba(70, 75, 93, 0.13);
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
    --vscode-statusBarItem-prominentForeground: #4b526d;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-remoteBackground: #80cbc4;
    --vscode-statusBarItem-remoteForeground: #000000;
    --vscode-symbolIcon-arrayForeground: #cccccc;
    --vscode-symbolIcon-booleanForeground: #cccccc;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #cccccc;
    --vscode-symbolIcon-constantForeground: #cccccc;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #cccccc;
    --vscode-symbolIcon-folderForeground: #cccccc;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #cccccc;
    --vscode-symbolIcon-keywordForeground: #cccccc;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #cccccc;
    --vscode-symbolIcon-namespaceForeground: #cccccc;
    --vscode-symbolIcon-nullForeground: #cccccc;
    --vscode-symbolIcon-numberForeground: #cccccc;
    --vscode-symbolIcon-objectForeground: #cccccc;
    --vscode-symbolIcon-operatorForeground: #cccccc;
    --vscode-symbolIcon-packageForeground: #cccccc;
    --vscode-symbolIcon-propertyForeground: #cccccc;
    --vscode-symbolIcon-referenceForeground: #cccccc;
    --vscode-symbolIcon-snippetForeground: #cccccc;
    --vscode-symbolIcon-stringForeground: #cccccc;
    --vscode-symbolIcon-structForeground: #cccccc;
    --vscode-symbolIcon-textForeground: #cccccc;
    --vscode-symbolIcon-typeParameterForeground: #cccccc;
    --vscode-symbolIcon-unitForeground: #cccccc;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-tab-activeBackground: #0f111a;
    --vscode-tab-activeBorder: #80cbc4;
    --vscode-tab-activeForeground: #ffffff;
    --vscode-tab-activeModifiedBorder: #4b526d;
    --vscode-tab-border: #0f111a;
    --vscode-tab-inactiveBackground: #0f111a;
    --vscode-tab-inactiveForeground: #4b526d;
    --vscode-tab-inactiveModifiedBorder: rgba(75, 82, 109, 0.5);
    --vscode-tab-lastPinnedBorder: #3b3f51;
    --vscode-tab-unfocusedActiveBackground: #0f111a;
    --vscode-tab-unfocusedActiveBorder: #464b5d;
    --vscode-tab-unfocusedActiveForeground: #8f93a2;
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(75, 82, 109, 0.5);
    --vscode-tab-unfocusedInactiveBackground: #0f111a;
    --vscode-tab-unfocusedInactiveForeground: rgba(75, 82, 109, 0.5);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(75, 82, 109, 0.25);
    --vscode-terminal-ansiBlack: #000000;
    --vscode-terminal-ansiBlue: #82aaff;
    --vscode-terminal-ansiBrightBlack: #464b5d;
    --vscode-terminal-ansiBrightBlue: #82aaff;
    --vscode-terminal-ansiBrightCyan: #89ddff;
    --vscode-terminal-ansiBrightGreen: #c3e88d;
    --vscode-terminal-ansiBrightMagenta: #c792ea;
    --vscode-terminal-ansiBrightRed: #ff5370;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-terminal-ansiBrightYellow: #ffcb6b;
    --vscode-terminal-ansiCyan: #89ddff;
    --vscode-terminal-ansiGreen: #c3e88d;
    --vscode-terminal-ansiMagenta: #c792ea;
    --vscode-terminal-ansiRed: #ff5370;
    --vscode-terminal-ansiWhite: #ffffff;
    --vscode-terminal-ansiYellow: #ffcb6b;
    --vscode-terminal-border: rgba(0, 0, 0, 0.38);
    --vscode-terminal-foreground: #cccccc;
    --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
    --vscode-terminalCursor-background: #000000;
    --vscode-terminalCursor-foreground: #ffcb6b;
    --vscode-testing-iconErrored: #f14c4c;
    --vscode-testing-iconFailed: #f14c4c;
    --vscode-testing-iconPassed: #73c991;
    --vscode-testing-iconQueued: #cca700;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-iconUnset: #848484;
    --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
    --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
    --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
    --vscode-textLink-activeForeground: #8f93a2;
    --vscode-textLink-foreground: #80cbc4;
    --vscode-textPreformat-foreground: #d7ba7d;
    --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
    --vscode-titleBar-activeBackground: #090b10;
    --vscode-titleBar-activeForeground: #8f93a2;
    --vscode-titleBar-border: rgba(0, 0, 0, 0.38);
    --vscode-titleBar-inactiveBackground: #090b10;
    --vscode-titleBar-inactiveForeground: #4b526d;
    --vscode-tree-indentGuidesStroke: #3b3f51;
    --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
    --vscode-widget-shadow: rgba(0, 0, 0, 0.19);
}